beautifulsoup4==4.12.3
Flask==3.0.3
Flask_Bcrypt==1.0.1
Flask_HTMLmin==2.2.1
Flask_Login==0.6.3
python-dotenv==1.0.1
Requests==2.31.0
stripe==9.5.0
lxml==5.2.2
psycopg2-binary==2.9.9
boto3==1.34.109
flask-squeeze==3.0.9
Pillow==10.3.0
google-api-python-client==2.133.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
httplib2==0.22.0
requests-oauthlib==2.0.0
uritemplate==4.1.1
