<footer class="bg-gray-800 text-white py-4 fixed inset-x-0 bottom-0">
    <div class="container mx-auto px-4 text-center">
        <span>&copy; 2024</span>
        <a href="https://rihards.dev" class="text-blue-400 hover:text-blue-300 ml-2">rihards.dev</a> | <a href="https://lv.wordpress.org/about/license/#:~:text=spraud%C5%86i%20un%20t%C4%93mas%20ir%20atvasin%C4%81ts%20darbs%20un%20t%C4%81d%C4%93j%C4%81di%20p%C4%81rmanto%20GPL%20licenci" class="text-blue-400 hover:text-blue-300">GPL Licence</a>
    </div>
</footer>
