<!DOCTYPE html>
<html lang="lv">
<head>
    {% include 'head.html' %}
    <title>Reģistrēšanās - IespiedPrese</title>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="max-w-md w-full bg-white p-8 border border-gray-300 rounded-lg">
        <div class="flex justify-center mb-2">
            <img src="static/logo.svg" alt="Logo" class="w-24">
        </div>       
        <h2 class="text-2xl font-bold mb-6 text-center">Reģistrēšanās</h2>
        {% for category, message in get_flashed_messages(with_categories=True) %}
        {% if category == 'success' %}
        <div class="bg-green-100 mb-4 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
            {{ message }}
        </div>
        {% elif category == 'error' %}
        <div class="bg-red-100 mb-4 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        <form action="{{ url_for('auth.register') }}" method="post">
            <div class="mb-4">
                <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Lietotājvārds:</label>
                <input type="text" id="username" name="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 text-sm font-bold mb-2">E-pasta adrese</label>
                <input type="text" id="email" name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4 relative">
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Parole:</label>
                <input type="password" id="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline pr-10" required>
                <span toggle="#password" class="mt-4 mr-2 fa fa-fw fa-eye password-toggle text-gray-500 hover:text-gray-700 absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer"></span>
            </div>    
            <div class="flex justify-center mb-4">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Reģistrēties</button>
            </div>
            <div class="text-center">
                <a href="{{ url_for('auth.login') }}" class="text-blue-500 hover:text-blue-700">Jau esi reģistrējies?</a>
            </div>
            <div class="text-center">
                <a href="{{ url_for('index.index') }}" class="text-xs text-gray-500 hover:text-gray-700">&#8592; Uz galveno</a>
            </div>
        </form>
    </div>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/eye.js') }}"></script>
</body>
</html>
